<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted segment">
    <div class="ui inverted secondary menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
      <% if logged_in? %>
      <div class="right menu">
        <div class="item">
           <%= link_to 'Log out', logout_path, method: :delete, class: 'ui red button' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ui container">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  </body>
</html>
